* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}
.title {
  color: green;
  font-size: 30px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.title {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  color: #1d1d1d;
  font-size: 36px;
}
.pargraph {
  color: #555555;
  font-size: 12px;
  text-transform: capitalize;
}
.margin-bottom {
  margin-bottom: 100px;
  margin-top: 100px;
}
.text-titlee h2 {
  font-size: 16px;
  font-weight: bold;
  color: #1d1d1d;
  font-family: "Lato", sans-serif;
}
.icon-hand {
  font-size: 20px;
  color: #024e82;
}
.opacity:hover {
  opacity: 0.7;
}
.animations {
  transition: 0.3s;
}
.animations:hover {
  transform: translatey(-10px);
  // transform: rotatez(2deg) scale(1.1);
}
.title-footer {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
}
.details-title {
  margin-bottom: 50px;
}

.background-hand {
  position: relative;
}
.title-sec-backgeound {
  position: absolute;
  top: 63%;
  left: 14%;
}

.image-sec-background img {
  width: 100%;
}

.btn-send-sellers {
  background-color: #024e82;
  padding: 10px 18px;
  border: none;
  border-radius: 16px;
  text-transform: uppercase;
}
.btn-chek {
  background-color: #d6763c;
  border-radius: 0;
}
.input-hover:hover {
  border-color: #47a9ea;
  color: #47a9ea;
  transition: all 0.4s;
}
.input-hover:focus {
  outline: none;
  color: #47a9ea;
}
.input-color {
  border: none;
  border: 1px solid #ebebeb;
}
.links-nav {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Arimo" sans-serif;
}
.links-nav:hover {
  color: #77bce6;
}
.links-nav.active {
  color: #77bce6;
}
@media (max-width: 576px) {
  .details-title {
    margin-bottom: 30px;
  }
  .btn-buy {
    font-size: 10px;
  }
  .pargraph {
    font-size: 10px;
  }
  .title-about {
    position: absolute;
    top: 60%;
    left: 4%;
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
  .btn-send-sellers {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .btn-buy {
    font-size: 9px;
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .btn-buy {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .btn-buy {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  .btn-buy {
    font-size: 17px;
  }
}
